<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level 1</key>
	<dict>
		<key>Matrice</key>
		<array>
			<array>
				<integer>2</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>4</integer>
				<integer>1</integer>
			</array>
		</array>
		<key>supplementary Items</key>
		<dict>
			<key>UniquePage</key>
			<true/>
		</dict>
	</dict>
	<key>Level 2</key>
	<dict>
		<key>Matrice</key>
		<array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>4</integer>
				<integer>0</integer>
			</array>
		</array>
		<key>supplementary Items</key>
		<dict>
			<key>UniquePage</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
